@import url(./general-sans.css);

html{
    font-family: 'GeneralSans-Regular';
    color: #272643;
    background-color: #ffffff;
}

/* Fonts */
.font-medium{
    font-family: 'GeneralSans-Medium';
}
.font-semibold{
  font-family: 'GeneralSans-Semibold';
}
.font-bold{
  font-family: 'GeneralSans-Bold';
}